<!DOCTYPE html>

{% load static %}


<html lang="en">
<head>
    
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>METRO EVENTS</title>
</head>
<body>
   
   
   

    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active" align="center"> Sign In </h2>
          
      
          
          <div class="fadeIn first">
            
          </div>
      
          <!-- Login Form -->
          <form method="post">
            {% csrf_token %}
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">

            {% if messages %}
            {% for message in messages %}
            <div class="error-messages">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{message}}
            </div>
            {% endfor %}
            {% endif %}


            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="/metroevents/register">register</a>
          </div>
      
        </div>
      </div>


</body>
</html>