<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    
    <title>Document</title>
</head>
<body style="background-color:rgb(131, 167, 172);">

    
    

      <form action="index.html" method="post">
      
        <h1>Sign Up</h1>
        
        <fieldset>
          
          <label for="username">username:</label>
          <input type="text" id="name" name="user_name">
          
          <label for="password">password:</label>
          <input type="email" id="mail" name="password">
          
          <label for="password">confirm password:</label>
          <input type="password" id="password" name="user_password">
          
          <label for="username">firstname:</label>
          <input type="text" id="name" name="user_name">

          <label for="username">lastname:</label>
          <input type="text" id="name" name="user_name">
          
        </fieldset>
        <button type="submit">Sign Up</button>
      </form>
      
    

</body>
</html>