<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    
    <title>Document</title>
</head>
<body style="background-color:rgb(131, 167, 172);">

    
    

      <form method="post">
        {% csrf_token %}
        <h1>Sign Up</h1>
        
        <fieldset>
          
          <label for="username">username:</label>
          <input type="text"  name="username" required="required">
          
          <label for="password">password:</label>
          <input type="password"  name="password" required="required">
          
          <label for="password">confirm password:</label>
          <input type="password" name="confirmPassword" required="required">
          
          <label for="username">firstname:</label>
          <input type="text"  name="firstName" required="required">

          <label for="username">lastname:</label>
          <input type="text" name="lastName" required="required">
          {% if messages %}
              {% for message in messages %} 
              <div class="error-message">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  {{message}}
              </div>
              {% endfor %}
              {% endif %}
        </fieldset>
        <button type="submit" value="Register">Sign Up</button>
      </form>
      
    

</body>
</html>